/* The CSS here is from Kevin Powell's "The least amount of CSS for a decent looking site". */
img,
svg,
video {
  max-width: 100%;
  display: block;
}

body {
  font-family: System UI;
  font-size: 1.25rem;
  line-height: 1.5;
}

main {
  max-width: min(70ch, 100% - 4rem);
  margin-inline: auto;
}
